@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
*{
  color: white;
  background-color: black ;
  font-family: 'Crete Round', serif;
}
.App {
  text-align: center;
  border: 4px solid rgb(250, 76, 250);
  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem 5rem;
}

.App input{
  border-color: rgb(249, 76, 250);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  
}

.App input:focus{
  outline:none;
  
}
